/* default css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    max-width: 100%;
}
.container{
    width: 1000px;
    margin: auto;
}
.clear-fix::after{
    content: "";
    clear: both;
    display: block;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.text-start{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}
/* default css end*/
/* header section start here */

.header{
    background-color: #5f27cd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
   
}
.header-left{
    width: 30%;
   
}
.header-left img{
    width: 150px;
}


.header-right{
    width: 70%;
    
}
.menu ul{}
.menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.menu ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 14px;
    line-height: 22px;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    transition: .5s;
}
.menu ul li a:hover{
    background-color: #2e86de;
}
/* header section end here */
/* banner section start here */
.banner {
    background: url(./img/header-bg01.jpg) no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
    top: 43px;
}
/* overlay */
.banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: -1;
}
/* overlay end*/
.banner-content{
    color: #fff;
}
.banner-content h2{
    width: fit-content;
    background-color: #351f9763;
    margin: auto;
    padding: 10px 35px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 30px;
}
.banner-content p{
    width: fit-content;
    background-color: #1dd1a1;
    margin: auto;
    padding: 10px 35px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}
/* banner section end here */
/* servces section start here */
.services{
    padding: 116px 0;

}.services h2{
    margin-bottom: 20px;
}
.services-item {
    width: 22%;
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 2%;
}
.services-item span{
    width: 50px;
    height: 50px;
    background-color: #576574;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50px 50px 50px 0;
    display: inline-block;
    margin-bottom: 15px;
    transition: 1s;
}
.services-item:hover span{
    background-color: black;
    color: yellow;
}
.services-item h3{}
.services-item p{
    font-size: 15px;
    color: #576574;
}
/* servces section end here */
/* footer section start here */
.footer{
    background-color: #2f3640;
    padding: 20px 0;
    color: #fff;
}
.footer-left{
    width: 50%;
    font-size: 20px;
}

.footer-right{
    width: 50%;
}
.footer-right ul{}
.footer-right ul li{
    display: inline-block;
}
.footer-right ul li a{
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: #718093;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    border-radius: 10px 0;
    font-size: 16px;
    margin-right: 8px;
    transition: .5s;
}
.footer-right ul li a:hover{
    background-color: #192a56;
    color: #e1b12c;
}
/* footer section end here */